# Credentials & Private Data
token.txt
timeshift.txt
*.log

# PyInstaller Build Artifacts
build/
dist/
*.spec
__pycache__/
*.pyc

# Personal Desktop Documents & Images (Ignore for clean source code repo)
*.jpg
*.jpeg
*.png
*.pdf
*.txt
